

<div class="container">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" style="color: white" >HOME</a>
        <a class="navbar-brand" style="color: white" ><b>PRODUCT LIST</b></a>
    </nav>

<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="/images/maggi.jpeg" alt="Avatar" style="width:30%">
            </div>
            <div class="col-lg-3">
                <h4>Maggi 2-Minute Noodles Masala, 70g (Pack of 12)</h4>
                <h6>by maggi<br>  rs.139<br>Get it by Tomorrow, Aug 9</h6>
            </div>
            <div class="col-lg-4">
                <h6>
                    3.9 out of 5 stars 54
                    Special Offer: Rs100 cashback on Rs 1500 and 1 more promotion</h6>
            </div>
        </div>
    </div>
</div>
</div>