<div class="container">

    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" style="color: white" ng-click="getSelectedTabsData('HOME_TAB')">
            <span   ng-class="(selectedTab === 'HOME_TAB') ? 'ProductstatusTheme' : 'ProductstatusUnSelect'">HOME</span></a>

        <a class="navbar-brand" style="color: white" ng-click="getSelectedTabsData('PRODUCT_TAB')">
            <span ng-class="(selectedTab === 'PRODUCT_TAB') ? 'ProductstatusTheme' : 'ProductstatusUnSelect'">PRODUCT LIST</span></a>
    </nav>

    <div class="carousel" id="slider" style="margin-top: 20px">
        <div class="carousel-inner">
            <div class="item"   ng-repeat="product in products track by $index "  ng-class="{active:!$index}">
                   <img  src="{{product.productimage}}"  style="width:850px; height:300px"  ng-click="goToThatProduct(product)"  class="img-responsive">
            </div>

        </div>
        <a class="carousel-control left" href="#slider" data-slide="prev"></a>

        <a class="carousel-control right" href="#slider" data-slide="next"></a>
    </div>

</div>



<!--<div id="carouselExampleFade"   ng-repeat="product in products track by $index" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{product.productimage}}" alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>-->


